@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400&display=swap%27%29%3B);

:root {
    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;

    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200));
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    background: var(--color-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    background-color: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.336);
    height: fit-content;
}

#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 40px;
    position: relative;
}

#form_header h1::before {
    position: absolute;
    content: '';
    width: 45%;
    background-color: var(--color-purple-50);
    height: 3px;
    bottom: 10px;
    border-radius: 5px;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-box label {
    font-size: 16px;
    color: var(--color-dark-100);
    font-weight: bold;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--color-purple-50);
}

.input-field input {
    border: none;
    background-color: transparent;
    width: 260px;
    font-style: 18px;
    padding: 0px 5px;
}

.input-field input:focus {
    outline: none;
}


#btn-form {
    border: none;
    background: var(--color-gradient);
    padding: 7px;
    font-size: 17px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

#btn-form:hover {
    transform: scale(1.05);
}

#modal-btn {
    border: none;
    background: var(--color-gradient);
    padding: 7px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

#modal-btn:hover {
    transform: scale(1.05);
}

.btn-numbers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    
}

.btn-resgate-container {
    display: grid;
}

.modal-overlay-list, .modal-overlay-numbers, .modal-overlay-finish {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    transform: all 0.3s linear;
    visibility: hidden;
    z-index: -10;
}

.open-modal {
    visibility: visible;
    z-index: 10;
}

.modal-container-finish {
    background: #fff;
    border-radius: 0.5rem;
    width: 90vw;
    height: 65vh;
    max-width: 720px;
    /* text-align: center; */
    display: grid;
    /* place-items: center; */
    position: relative;
}

.modal-container-list {
    background: #fff;
    border-radius: 0.5rem;
    width: 90vw;
    height: 70vh;
    max-width: 720px;
    display: grid;
    position: relative;
}

.modal-container-list>h1, .modal-container-finish>h1 {
    place-self: center;
}

.modal-container-numbers {
    background: #fff;
    border-radius: 0.5rem;
    width: 90vw;
    max-width: 620px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
}

.close-btn-list, .close-btn-numbers, .close-btn-finish {
    position: absolute;
    top: 1%;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: hsl(360, 67%, 44%);
    cursor: pointer;
    transform: all 0.3s linear;
}

.close-btn-list {
    top: 1px;
}

.close-btn-list:hover, .close-btn-list:hover {
    color: hsl(360, 71%, 66%);
    transform: scale(1.3s);
}

.error-text {
    font-size: 10px;
    color: red;
}


/* Apuração */

.apuracao {
    display: grid;
    justify-content: center;
    gap: 5x;
}

.rodadas {
    display: grid;
    /* justify-content: left; */
    text-align: center;
}

.aposta {
    display: grid;
    text-align: center;
}

.apostador {
    display: grid;
    text-align: left;
}

/* .apostas-quantidade {
    display: grid;
} */

/* 
.numero-apostado {
    display: grid;
} */

/* .quantidade-apostado {
    display: grid;
} */

.apostas-quantidade {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}

.aposta {
    display: flex;
    margin-right: 20px; /* Espaço entre as apostas */
}

.numero-apostado,
.quantidade-apostado {
    margin-right: 10px; /* Espaço entre os elementos dentro de uma aposta */
}

/* Estilos opcionais */
.numero-apostado p,
.quantidade-apostado p {
    margin: 0; /* Remova a margem padrão dos parágrafos */
}

.numeros {
    font-weight: bold;
}

/* cartela */

.container-numbers {
    max-width: 620px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.numbers {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 7px;
    justify-content: center;
}


.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Ajuste na largura */
    height: 50px; /* Ajuste na altura */
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #f9f9f9;
    color: #333;
    font-size: 20px; /* Tamanho da fonte reduzido */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.number:hover {
    background-color: #007bff;
    color: #fff;
  }

.selecionado {
    background-color: #28a754 !important;
    color: #fff;
}

/* List bet */

#dados {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 1%;
}

.apostador {
    margin-bottom: 20px;
}

.nome {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.cpf {
    color: #666;
    margin-bottom: 1px;
}

.aposta {
    margin-left: 15px;
    margin-bottom: 20px;
    border-left: 3px solid #007bff; /*Cor da borda para destacar a aposta */
    padding-left: 10px;
}

.registro {
    font-weight: bold;
    color: #007bff;
}

.numeros {
    color: #28a745;
}